node_modules/
.env

target/
false/

!./packages/circuit/pkg/*
addr_membership_js/
addr_membership.r1cs

.DS_Store
.eslintcache

/db/
/checkpoint/
packages/indexer-rs/db
!./packages/db

firebase-service-account*.json
